body {
    background: #B0E2FF;
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/625/844/non_2x/geometric-abstract-light-blue-background-for-website-wallpapers-bussines-templates-vector.jpg');
    background-size: auto 100vh;
    font-family: arial; 
  }
  
  .menu{
    background-color: white;
  }
  .menu li{
    list-style: none;
  }
  .menu ul{
    display: flex;
    justify-content: space-between;
  }
  a{
    color: teal;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  .site-subtitle,
  .site-title{
    color: #0c2461;
    text-align: center;
  }
  
  .site-subtitle{
    font-style: italic;
  }